<% if session[:role] == "Cashier"%>
	
		<legend> Cashier </legend>
		<div id="container" style="width:700px;margin-bottom:50px;">
			<div style="background-color:#CEF5AA;border:solid 1px;margin-left:15px;padding:3px;">step 1: Login with appropriate user name and password</div><br>
			<img src="/login.png" alt="image not seen" width="300" height="300"/>

			<div style="background-color:#CEF5AA;border:solid 1px;margin-left:15px;padding:3px;">step 2: Enter item and quantity and search</div><br>
			<img src="/search.png" alt="image not seen" width="300" height="300"/>

			<div style="background-color:#CEF5AA;border:solid 1px;margin-left:15px;padding:3px;">step 3: Add item to customer cart</div><br>
			<img src="/cart.png" alt="image not seen" width="300" height="300"/>

			<div style="background-color:#CEF5AA;border:solid 1px;margin-left:15px;padding:3px;">step 3: Initiate Mobile Money Transaction</div><br>
			<img src="/transact.png" alt="image not seen" width="300" height="300"/>

			

		</div>

<%elsif session[:role] =="Admin"%>


		<legend> Administrator </legend>
		<div id="form" style="overflow: scroll; width:500px">
			<div style="background-color:#CEF5AA;border:solid 1px;margin-left:15px;padding:3px;">step 1: Login with appropriate user name and password</div><br>
			<img src="/login.png" alt="image not seen" width="300" height="300"/>

			<div style="background-color:#CEF5AA;border:solid 1px;margin-left:15px;padding:3px;">step 2: Select appropriate action to perform</div><br>
			<img src="/admin.png" alt="image not seen" width="300" height="300"/>


		</div>



	
<%end%>
	  